/*==================================================
スライダーのためのcss
===================================*/
.slider_cs {/*横幅94%で左右に余白を持たせて中央寄せ*/
    max-width: 1300px;
    min-width: 1000px;
    margin:0 auto;
    padding-left: 0px;
    display: none;
}

.slider_cs.slick-initialized{
    display: block;
}

.slider_cs img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider_cs .slick-slide {
    margin:0 0px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slider_cs .slick-prev, 
.slider_cs .slick-next {
    position: absolute;/*絶対配置にする*/
    top: 20%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    padding-top: 9%;
    height: 100%;
    width: 120px;
    font: normal normal normal 60px/60px Devanagari MT;
    color: #fff;
}



.slider_cs .slick-prev {/*戻る矢印の位置と形状*/
    left: 0;
    z-index: 1;
}    

.slider_cs .slick-next {/*次へ矢印の位置と形状*/
    right: 0%;
    padding-left: 60px;
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
    margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
}

.slick-dots button {
    border: none;
    color: transparent;
    outline: none;
    width:12px;/*ドットボタンのサイズ*/
    height:12px;/*ドットボタンのサイズ*/
    display:block;
    background:#fff;/*ドットボタンの色*/
    border: 1px solid #555;
}

.slick-dots .slick-active button{
    background:#555;/*ドットボタンの現在地表示の色*/
}

/*==================================================
===================================*/

.slider_sp {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 100%;
    margin: auto;
    padding-left: 0px;
    display: none;
    margin-bottom: 30px;
}

.slider_sp.slick-initialized{
    display: block;
}

.slider_sp img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider_sp .slick-slide {
    margin:0 0px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slider_sp .slick-prev, 
.slider_sp .slick-next {
    position: absolute;/*絶対配置にする*/
    top: 0%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    height: 100%;
    width: 60px;
    font: normal normal normal 50px/20px Devanagari MT;
    color: #fff;
    background-color: rgba(55, 55, 55, 0.6);
    padding-top: 23%;
}

.slider_sp .slick-prev {/*戻る矢印の位置と形状*/
    left: 0%;
    z-index: 1;
}    

.slider_sp .slick-next {/*次へ矢印の位置と形状*/
    right: 0%;
    padding-left: 13px;
}
